.TextInput {
    position: relative;
}

.TextInput--title {
    position: absolute;
    top: 2px;
    left: 0;
    padding: 5px;
    color: #fff;
    background: #282c34;
    height: 2em;
    border-radius: 6px 0 6px 0;
    user-select: none;
}

@media screen and (min-width: 500px) {
    .TextInput {
        width: 500px;
    }
}

.TextInput {
    min-height: 260px;
}

.TextInput textarea {
    resize: vertical;
    height: 260px;
    width: 100%;
    padding: 5px;
    padding-top: calc(2em + 5px);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.TextInputContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    padding: 10px;
}